body {
  background-image: url('../images/glamorous-background.svg');
}

.glamorous-card {
  background-image: url('../images/glamorous.svg');
}

@media all and (max-width: 767px) {
    .main-card-media {
      height: 50%;
      width: 80%;
      left: 10%;
    }

    .xs-hide {
      display: none
    }
}

@media all and (min-width: 768px) {
    .main-card-media {
      height: 50%;
      width: 60%;
      left: 20%;
    }
}

@media all and (min-width: 1200px) {
    .main-card-media {
      height: 50%;
      width: 50%;
      left: 25%;
    }
}

.twitter-share-button-container {
  position: absolute;
  right: 16px;
  top: 16px;
  cursor: pointer
}

.twitter-share-button-container .share-text {
  cursor: default;
  position: absolute;
  right: 37px;
  top: -7px;
  z-index: 0;
}

.info-button-position {
  z-index: 999;
  position: absolute;
  margin-left: -56px;
}
